
/* Grid and flex */

.flex {
	display: flex;
	align-items: center;
  }

  .flex-row {
	display: flex;
	flex-direction: column;
  }

  .flex-col {
	flex: 1;
  }

  .flex-two-thirds {
	flex: 2;
  }

  .justify-center {
	justify-content: center;
  }

  .grid {
	display: grid;
	align-items: stretch;
  }

  .grid.projects {
	grid-template-columns: 40px auto;
  }

  .grid.exp {
	grid-template-columns: 40px auto;
  }

  .row .cell.description {
	grid-column: 1 / span 2;
	margin-bottom: 2rem;
	line-height: 1.3;
	font-size: 1.1rem;
  }

  p.skill-title {
	margin: 0 0 0.2rem 0;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 500;
  }

  p.skill-disclaimer {
	font-size: 0.8rem;
	margin: 0 0 0 0.4rem;
	width: 100%;
	font-weight: 200;
  }

  p.exp-disclaimer {
	font-size: 0.8rem;
	font-weight: 200;
  }

  @media screen and (min-width:800px) {
	  p.exp-disclaimer {
		  display: none;
	  }
  }

  .skill-section {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 1rem 0;
	padding: 0;
  }

  .skill-item {
	border: 2px solid #3e68a2;
	border-radius: 10px;
	margin: 0 0.4rem 0.4rem 0rem;
	padding: 0.1rem 0.4rem;
	font-size: 0.9rem;
	font-weight: 400;
  }

  .skill-item:hover {
	background:  #3e68a2;
	color: white;
  }

  .stack-description {
	  display: none;
  }

  .tag-item {
	border: 2px solid #3e68a2;
	border-radius: 10px;
	margin: 0 0.4rem 0.4rem 0rem;
	padding: 0.1rem 0.4rem;
	font-size: 0.9rem;
	font-weight: 400;
	height: 30px;
  }

  .tag-item:hover {
	background:  #3e68a2;
	color: white;
  }

  .company {
	grid-column: 1 / span 2;
	font-size: 1.1rem;
	font-weight: 600;
  }

  .expCell {
	grid-column: 1 / span 2;
	font-weight: 400;
	color: var(--light-font-color);
	font-size: 1.1rem;
	line-height: 1.2;
	padding: 0 0 0.5rem 0;
  }

  .expCell.right {
	font-size: 0.9rem;
	display: none;
  }

  .expCell.footer.right {
	font-weight: 200;
	display: none;
  }

  .expCell.footer.left {
	padding-left: 0rem;
	font-weight: 600;
  }

  .expCell.footer {
	font-size: 0.8rem;
	padding: 0 0 0rem 0;
  }

  .expCell.footer.left.bottom {
	font-size: 0.8rem;
	font-weight: 200;
	padding: 0 0 1.5rem 0rem;
  }

  @media screen and (min-width: 800px) {

  .project-tag-section {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 0;
	padding: 0;
  }

  .stack-description {
	  display: block;
	line-height: 1.3;
	font-size: 1.1rem;
	font-weight: 200;
	font-size: 0.8rem;
	padding-bottom: 0.2rem;
	color: #989898;
  }

	.row .cell {
	  display: flex;
	  align-items: center;
	  font-size: 1.15rem;
	  padding: 0.8rem 0;
	}
	.row.narrow .cell {
	  padding: 0.4rem 0;
	}
	.row .cell time {
	  font-size: 0.8rem;
	}
	.row .cell.simple {
	  padding: 0.5rem 0;
	}
	.posts .row,
	.lists .row {
	  display: contents;
	}

	.row:hover > * {
	  background: var(--light-background);
	  border-color: var(--border);
	}

	.row .cell:first-child,
	.row .cell.simple:first-child {
	  padding-left: 1rem;
	  border-top-left-radius: 0.35rem;
	  border-bottom-left-radius: 0.35rem;
	}

	.row .cell:last-child,
	.row .cell.simple:last-child {
	  padding-right: 1rem;
	  padding-left: 1rem;
	  border-top-right-radius: 0.35rem;
	  border-bottom-right-radius: 0.35rem;
	}

	.row .company:first-child {
	  border-top-left-radius: 0.35rem;
	}

	.row .footer.left.bottom {
	  padding-left: 1rem;
	  border-bottom-left-radius: 0.35rem;
	}

	.row .expCell.right {
	  padding-right: 1rem;
	  border-top-right-radius: 0.35rem;
	}

	.row .expCell.footer.right {
	  border-top-right-radius: 0rem;
	}

	.row .expBlank {
	  padding-right: 1rem;
	  border-bottom-right-radius: 0.35rem;
	}

	header h1 {
	  font-size: 3rem;
	  margin-top: 2rem;
	}

	header u {
	  background: linear-gradient(transparent 85%, #bac8ff 0);
	}

	.flex-row {
	  flex-direction: row;
	}

	.grid {
	  margin-left: -1rem;
	  margin-right: -1rem;
	}

	.grid.projects {
	  grid-template-columns: 40px 1fr 3fr;
	}

	.row .cell.description {
	  grid-column: auto;
	  margin-bottom: 0;
	}

	.grid.exp {
	  grid-template-columns: 40px 1fr 3fr;
	}

	.company {
	  grid-column: auto;
	  font-weight: 600;
	  color: var(--dark-font-color);
	  font-size: 1.1rem;
	  line-height: 1.2;
	  padding: 0rem 0;
	}

	.expCell.footer.right {
	  display: block;
	}

	.expCell.right {
	  font-size: 1.1rem;
	  display: block;
	}

	.expCell.footer.left {
	}

	.expCell {
	  grid-column: auto;
	  margin-bottom: 0;
	  padding: 0.25rem 0;
	}

	.expCell.footer {
	  font-size: 0.8rem;
	  padding: 0 0;
	}

	.expCell.footer.left.bottom {
	  padding: 0.25rem 0 1rem 0rem;
	  font-weight: 200;
	}
  }

  .row {
	display: contents;
	border-bottom: 1px solid var(--border);
  }

  .row .cell.light {
	font-weight: 400;
	color: var(--light-font-color);
  }

  a.cell {
	background: transparent;
  }

  .posts .row,
  .lists .row {
	display: block;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
  }

  .lists a {
	background: transparent;
  }

  .row .cell {
	font-weight: 600;
	color: var(--dark-font-color);
	font-size: 1.1rem;
	line-height: 1.2;
	padding: 0.25rem 0;
  }

  .row .cell.simple {
	border-bottom: none;
  }

  .row .cell time {
	display: block;
	font-size: 0.75rem;
	margin-bottom: 0.25rem;
  }
