/* Global variables */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import './style/navbar.css';
@import './style/grid.css';
@import './style/blog.css';
@import './style/lead.css';

:root {
  --font-color: #495057;
  --heading-color: #343a40;
  --background: white;
  --dark-font-color: #1b1d25;
  --medium-font-color: #60656c;
  --light-font-color: #787f87;
  --light-background: #f6f8fb;
  --lighter-background: #e6e8eb;
  --border: #d6d9de;
  --link-color: #5c7cfa;
  --link-color-darker: #3b5bdb;
  --navbar-color: #3e68a2;
  --blockquote: #edf2ff;
  --transparent-text: rgba(0, 0, 0, 0.7);
  --transparent-bg: rgba(0, 0, 0, 0.15);
  --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Scaffolding */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto',
    Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  overflow-y: scroll;
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
}

section {
  margin: 2rem 0;
}

section:first-of-type {
  margin-top: 0;
}

section > h2 {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.index h2 {
  border-bottom-width: 0;
}

@media screen and (min-width: 800px) {
  .index h2 {
    border-bottom-width: 1px;
  }
}

.section-button {
  font-weight: 500;
  background: var(--light-background);
  color: var(--dark-font-color);
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 3rem;
  border-bottom: 0;
  white-space: nowrap;
  line-height: 1;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.section-button:hover {
  background: #868e96;
  color: white;
}

@media screen and (min-width: 800px) {
  section {
    margin: 3.5rem 0;
  }
  section > h2 {
    font-size: 2rem;
    margin: 0 0 1rem;
  }
}

.container {
  max-width: 1100px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  .container {
    padding: 0 2rem;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.05rem;
  margin: 0 0 1.5rem 0;
}

/* Headings */

h1 {
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

a.link {
  display: block;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  border-radius: 0.35rem;
  font-weight: 600;
  background: transparent;
  color: var(--dark-font-color);
}

a.link:hover {
  background: transparent;
  color: var(--link-color);
}

/* Links */

a {
  color: var(--dark-font-color);
  background: linear-gradient(transparent 70%, #dbe4ff 0);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: var(--dark-font-color);
  background: linear-gradient(transparent 70%, #bac8ff 0);
}

main {
  margin-top: 3.5rem;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 4.5rem;
  }
}

/* Helpers */

.small {
  max-width: 600px;
}

.medium {
  max-width: 800px;
}

.meta {
  color: var(--medium-font-color);
  font-size: 1rem;
}
